@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans&display=swap');

main{ 
    font-family: 'Poppins', sans-serif;
    font-size:18px;
}

header, footer, h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
}

header, main, footer, .announce {
    max-width: 1300px;
    min-width: 400px;
    margin:1rem auto;
}
/*----------------------------------------HOME PAGE CSS--------------------------------------------------*/

body {
    background-color: white;
}

header {
    background-color: #8fa2b8;
    color:white;
    /* #778ca3 */
}

.announce_style{
    background-color: #f8b9a7;
    text-align: center;
    padding: 10px;
    margin-bottom:-5px;
}

#top_half_header {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
}
.logo_link {
    justify-self: center;
}
.logo {
    width:350px;
    justify-self: center;
    padding:10px;
}

.hotel_address_info {
    text-align: center;
    align-self:center ;
    padding:10px;
}

#social_media_logos{
    align-self:center ;
    justify-self: center;
}

#social_media_logos img:hover{
    background-color: rgb(226, 225, 225);
}


.facebook, .twitter {
    width:40px;
    padding:35px;
}


/*---Nav Bar---*/
nav {
    text-align:center;
    padding:5px;
    border-top: 1px solid black;
}

nav #ul_nav {
    list-style: none;
    display:flex;
    flex-direction: column;
}

nav a {
    display:block;
    padding: 15px;
    text-decoration: none;
	font-size:20px;
    text-align:center;
    margin-right:30px;
    color:white;
}

nav a:hover {
    background-color: #badff0;
}

.navigation li{
    display:none;
}

.navigation li:first-child{
    display:block;
}

.responsive li{
    display:block;
}

.dropdown{
    display: inline-block;
    position:relative;
}

.dropdown-content {
    display:none;
    position: absolute;
    left:100px;

}
.dropdown:hover .dropdown-content {
    display:block;
}

.dropdown-content a{
    background-color: #8fa2b8;
    padding:30px;
}


/*----------*/
/*-----Main-----*/
main{
    background-color: white;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
}


/*Have a general feel with all home page box areas*/
.box_design{
    background-color: #E7D2CC;
    border:1px black solid;
    padding:30px;
    text-align: center;
}

#hero_box{
    grid-row:1/2;
    grid-column: 1/-1;
    padding:0px;
    position:relative;
}

#hero_photo {
    width:100%;
    height:100%;
}

.hero_title{
    position: absolute;
    /* bottom:240px;
    left:10px; */
    bottom:75%;
    left:5%;
}

.hero_button {
    position: absolute;
    top:75%;
    right:5%;
    padding:20px;
    background-color: #8fa2b8;
    color:white;
    text-decoration: none;
    border:1px black solid;
    border-radius:10px;
    font-size: 18px;
}

#temple_info_box{
    grid-row:2/3;
    grid-column: 1/-1;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
}

#temple_img{
    justify-self:center;
    padding:5px;
    width:275px;
}

.about_info, .contact_info{
    text-align: left;
}

#amenities_box{
    grid-row:3/4;
    grid-column: 1/-1;
}

.amenities_list{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
}

#list_3{
    display:none;
}


#contact_box{
    grid-row:4/5;
    grid-column: 1/-1;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
    padding:20px;
}

.contact_heading {
    grid-column: 1/-1;
    margin-bottom: -100px;
}

.title_headings{
    grid-column: 1/-1;
}

.contact_box_content p {
    padding:10px;
}

.contact_img{
    justify-self:center;
    padding:5px;
    width:200px;
}

.button_style, .submit{
    margin-top:10px;
    padding:10px;
    background-color: #8fa2b8;
    color:white;
    text-decoration: none;
    border:1px black solid;
    border-radius:10px;
    font-size: 18px;
}

.button_style:hover, .hero_button:hover, .submit:hover{
    background-color:white;
    color:black;
}

#weather_box{
    grid-row:5/6;
    grid-column: 1/-1;

}

.weather_display{
    display:grid;
    grid-template-columns: 1fr;
}

#weather_icon {
    justify-self: center;
    width:150px;
}

.weather_wind_text, #weather_description {
    font-size:20px;
}

#weather_description::first-letter { 
    text-transform: uppercase;
}

#weather_description{
    grid-column: 1/-1;
}

.weather_symbol{
    font-size: 40px;
}


/*-----Footer-----*/

footer{
    background-color: #8fa2b8;
    color:white;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
    text-align:center;
    align-items: center;
    padding:10px;
}

footer img{
    width:200px;
    justify-self: center;
    padding:10px;
}

footer .address{
    align-items: center;
    text-decoration: none;
    color:white;
}

.legel-section {
    align-self: center;
}

.address p:hover{
    background-color: #badff0;
    padding:5px;

}

#thanks_box{
    grid-column: 1/-1;
    padding:200px;
}

.thanks_p{
    padding:20px;
}

/*----------------------------------------TEMPLE PAGE CSS-------------------------------------------------*/
#temple_about{
    grid-column: 1/-1;
    grid-row:1/2;
    }

.temples{
    grid-column: 1/-1;
}


.temple_img_size{
    width:400px;
}

.temple_card{
    background-color: #E7D2CC;
    border:1px black solid;
    padding:30px;
    text-align: center;
}

.temple_card p {
    padding:5px;
}



.temple_list{
    list-style: none;
    padding:10px;
}

.temple_list li{
    padding:10px;
}

#button1, #button2,#button3,#button4{
    margin-left: 10px;
}

/*----------------------------------------RESERVATION PAGE CSS--------------------------------------------*/

#reservation_box{
    grid-column: 1/-1;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
}

.reservation_heading{
    grid-column: 1/-1;
}

.form_img{
    width:325px;
    padding:20px;
}

/*FORM CSS */

form{
    text-align: left;
}
form label{
    display:block;
    padding:20px;
}

form label input,form label select, form label textarea {
    display:block;
    border:1px solid black;
    border-radius:8px;
    padding:10px;
    font-size:1.0rem;
    width:100%;
    max-width:30rem;
}

.form_info_content{
    grid-row:2/3;
}

form {
    grid-row:3/4;
}

form .submit{
    margin-left:150px;
}




/*----------------------------------------SERVICE PAGE CSS------------------------------------------------*/




/*Tablet View*/
@media screen and (min-width: 750px) {
/*----------------------------------------HOME PAGE CSS--------------------------------------------------*/

main{
    grid-template-columns: 1fr 1fr;
}

.hero_button{
    padding:30px;
}

.hero_title{
    bottom:85%;
}

#temple_info_box{
    grid-row:2/3;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

#temple_img{
    grid-column: 1/2;
    grid-row:2/3;
    width:325px;
}

.about_info{
    grid-column: 2/3;
    grid-row:2/3;
}



#amenities_box{
    grid-row:4/5;
    grid-column:1/-1;
}

.amenities_list{
    grid-template-columns: 1fr 1fr;
}

#weather_box{
    grid-row:3/4;
    grid-column: 1/2;
}

#contact_box{
    grid-row:3/4;
    grid-column: 2/3;

}










/*----------------------------------------TEMPLE PAGE CSS-------------------------------------------------*/
.temple_img_size{
    width:500px;
}

.temple_img_size:hover {
    box-shadow: 0 0 10px #333;
    opacity: 1;
  }


/*----------------------------------------RESERVATION PAGE CSS--------------------------------------------*/
#reservation_box{
    grid-template-columns: 1fr 1fr;
}

.form_img{
    width:400px;
}

.form_info_content{
    grid-row:2/3;
    grid-column: 2/3;
}

form {
    grid-row:2/3;
    grid-column: 1/2;
}

/*----------------------------------------SERVICE PAGE CSS------------------------------------------------*/
}



/*Laptop View*/
@media screen and (min-width: 1250px) {
/*----------------------------------------HOME PAGE CSS--------------------------------------------------*/
#top_half_header {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:5px;
}

.logo_link {
    grid-column: 1/2;
    grid-row:1/2;
}

.logo {
    width:375px;
}

/* .hotel_address_info{
    grid-column: 2/3;
    grid-row:1/2;
} */

.social_media_logos{
    grid-column: 2/3;
    grid-row:1/2;
}

nav #ul_nav {
    flex-direction: row;
}

nav a {
    margin-right:0px;
    margin-left: 150px;
}
.ham {
    display:none;
}
.navigation li {
    display:block;
}
.dropdown-content {
    left:-65px;
}

#contact_box{
    grid-template-columns: 1fr 1fr;
}
#contact_box img {
    grid-column: 1/2;
    justify-self: center;
}

.contact_box_content{
    grid-column: 2/3;
    align-items: center;
    margin:auto 0;
}

#temple_img{
    width:400px;
}



.weather_display {
    grid-template-columns: 1fr 1fr;

}

#weather_icon{
    grid-column: 1/2;
}

.weather_symbol{
    grid-column: 2/3;
    align-self: center;
}

.amenities_list{
    grid-template-columns: 1fr 1fr 1fr;
}

#list_3 {
    display:block;
}

.list_spacing p{
    padding:20px;
}




footer{
    grid-template-columns: 1fr 1fr 1fr;
}






/*----------------------------------------TEMPLE PAGE CSS-------------------------------------------------*/
.temple_img_size{
    width:600px;
}
/*----------------------------------------RESERVATION PAGE CSS--------------------------------------------*/
.form_img{
    width:450px;
}

form .submit{
    margin-left:200px;
}
/*----------------------------------------SERVICE PAGE CSS------------------------------------------------*/

}