@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans&display=swap');

main{ 
    font-family: 'Poppins', sans-serif;
}

header, footer, h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
}

header, main, footer {
    max-width: 1500px;
    min-width: 400px;
    margin:1rem auto;
}
/*----------------------------------------HOME PAGE CSS--------------------------------------------------*/

body {
    background-color: white;
}

header {
    background-color: #8fa2b8;
    color:white;
    /* #778ca3 */
}

#top_half_header {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
}
.logo_link {
    justify-self: center;
}
.logo {
    width:350px;
    justify-self: center;
    padding:10px;
}

.hotel_address_info {
    text-align: center;
    align-self:center ;
    padding:10px;
}

#social_media_logos{
    align-self:center ;
    justify-self: center;
}

#social_media_logos img:hover{
    background-color: rgb(226, 225, 225);
}


.facebook, .twitter {
    width:40px;
    padding:35px;
}


/*---Nav Bar---*/
nav {
    text-align:center;
    padding:5px;
    border-top: 1px solid black;
}

nav #ul_nav {
    list-style: none;
    display:flex;
    flex-direction: column;
}

nav a {
    display:block;
    padding: 15px;
    text-decoration: none;
	font-size:20px;
    text-align:center;
    margin-right:30px;
    color:white;
}

nav a:hover {
    background-color: #badff0;
}

.navigation li{
    display:none;
}

.navigation li:first-child{
    display:block;
}

.responsive li{
    display:block;
}

.dropdown{
    display: inline-block;
    position:relative;
}

.dropdown-content {
    display:none;
    position: absolute;
    left:100px;

}
.dropdown:hover .dropdown-content {
    display:block;
}

.dropdown-content a{
    background-color: #8fa2b8;
    padding:30px;
}


/*----------*/

main{
    background-color: rgb(229, 226, 226);
}

footer{
    background-color: #8fa2b8;
    color:white;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
    text-align:center;
    align-items: center;
    padding:10px;
}

footer img{
    width:200px;
    justify-self: center;
    padding:10px;
}

footer .address{
    align-items: center;
    text-decoration: none;
    color:white;
}

.legel-section {
    align-self: center;
}

.address p:hover{
    background-color: #badff0;
    padding:5px;

}

/*----------------------------------------TEMPLE PAGE CSS-------------------------------------------------*/

/*----------------------------------------RESERVATION PAGE CSS--------------------------------------------*/

/*----------------------------------------SERVICE PAGE CSS------------------------------------------------*/




/*Tablet View*/
@media screen and (min-width: 768px) {
/*----------------------------------------HOME PAGE CSS--------------------------------------------------*/











/*----------------------------------------TEMPLE PAGE CSS-------------------------------------------------*/

/*----------------------------------------RESERVATION PAGE CSS--------------------------------------------*/

/*----------------------------------------SERVICE PAGE CSS------------------------------------------------*/
}



/*Laptop View*/
@media screen and (min-width: 1250px) {
/*----------------------------------------HOME PAGE CSS--------------------------------------------------*/
#top_half_header {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:5px;
}

.logo_link {
    grid-column: 1/2;
    grid-row:1/2;
}

.logo {
    width:450px;
}

/* .hotel_address_info{
    grid-column: 2/3;
    grid-row:1/2;
} */

.social_media_logos{
    grid-column: 2/3;
    grid-row:1/2;
}

nav #ul_nav {
    flex-direction: row;
}

nav a {
    margin-right:0px;
    margin-left: 200px;
}
.ham {
    display:none;
}
.navigation li {
    display:block;
}
.dropdown-content {
    left:-65px;
}

footer{
    grid-template-columns: 1fr 1fr 1fr;
}






/*----------------------------------------TEMPLE PAGE CSS-------------------------------------------------*/

/*----------------------------------------RESERVATION PAGE CSS--------------------------------------------*/

/*----------------------------------------SERVICE PAGE CSS------------------------------------------------*/

}